**/.DS_store
_dev/tests/outputs/*
**/*.pyc
_dev/tests/cpp/access_right.cpp
_dev/tests/cpp/access_right.h
_dev/tests/cpp/card_color.cpp
_dev/tests/cpp/card_color.h
_dev/tests/cpp/mass.h
_dev/tests/cpp/name.h
_dev/tests/cpp/amount.h
_dev/tests/cpp/order.h
_dev/tests/cpp/price.h
_dev/tests/cpp/side.cpp
_dev/tests/cpp/side.h
_dev/tests/cpp/stock_position.h

