// File generated ${timestamp} by (c) TYPO ${typo_version}
// Do not update its content out of marked places
$> import _dev1
$> import _dev2
$> simple_type_value = ${type} ${variable}
$> variable = value
$> type = "long"
$> id = some strange class nobody knows what for
// ${copyright}

#pragma once

// user defined includes - manual changes allowed here
${user_code}
// generated code

class ${id.UppercaseCamel}
{
    public:
        ${simple_type_constructor}
        
        ${simple_type_setter_and_getter}
        
        // user defined code - manual changes allowed here
        ${user_code}
        // generated code
    private:
        ${simple_type_value}
};

// manual changes allowed here
${user_code}
// end of manual changes
