body {padding: 20px }
h1 {color: green}
h2 {color: red}
a:link {color: blue; text-decoration: none}
a:visited {color: blue; text-decoration: none}
a:active {color: blue; text-decoration: none}
a:hover {color: blue; text-decoration: none}
